* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.header__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #001f7e;
}

.header__list {
    display: inline-block;
    margin-right: 30px;
}

.header__list a {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 19px;
    color: #4f5665;
    transition: 0.5s;
}

.header__list a:hover {
    color: #001f7e;
}

.header__btn {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #f53855;
    border: 1px solid #f53855;
    border-radius: 50px;
    padding: 4px 12px;
    background-color: #fff;
    transition: 0.5s;
}

.header__btn:hover {
    background-color: #f53855;
    color: #fff;
}